.nav-bar {
    background:#336cce;
    width: 130px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
    opacity: 0.7;
    
  
    .logo {
      display: block;
      padding: 8px 0;
  
      img {
        display: block;
        margin: 8px auto;
        width: 50px;
        height: auto;
  
        &.sub-logo {
          width: 70px;
        }

        &.sub-logo2 {
          width: 70px;
          transform: translate(0px, 15px);

        }

        &.sub-logo3 {
          width: 70px;
          transform: translate(0px, 35px);
        }
      }
    }
  
    nav {
      display: block;
      text-align: center;
      position:absolute;
      height: 210px;
      top: 51%;
      margin-top: -120px;
      width: 100%;
  
      a {
        font-size: 40px;
        color: #f2e7bf;
        display: block;
        line-height: 10px;
        height: 150px;
        position: relative;
        text-decoration: none;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: #e7bd42;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: 20px;
          letter-spacing: 1px;
          position: 1px;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
  
        &:first-child {
          &:after {
            content: 'HOME';
          }
        }
      }

      a.projects-link {
        &:after {
          content: 'PROJECTS';
        }
      }

      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }
      a.active {
        svg {
            color: #e7bd42
        }
      }

      
    }

    ul {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;

      li {
        a {
          padding: 7px 0;
          display: block;
          font-size: 30px;
          line-height: 30px;

          &:hover svg {
            color: #e7bd42;
          }

        
        }
      }
    }
}
  
  