
.desc-container2 {
    display: flex;
    position: absolute; // Position it absolutely within its container
    top: 10vh; // Adjust based on where you want it
    left: 30vw; 
    height: 73vh;
    text-align: center;
    flex-direction: column;

     /* Adjust the height as needed */
    width: 65vw; /* You can adjust the width to fit your design */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden;
    text-align: center;
  }

.button-container-p {
    display: flex;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: rgba(51, 108, 206, 0.5);
   position: absolute;
   display: flex;
   justify-content: space-between;
   width: 15.4vw;
   height:64vh;
   padding: 10px;
   //margin: 0 -600px;
   top: 10vh;
   left:12vw; 

}

.dropdown_p1 {
    display: flex;
    position: absolute; // Position it absolutely within its container
    top: 3vh;
    left: 0.6vw; 
    background-color: rgba(51, 108, 206, 0.5); 
    height: 9vh;
    width: 14vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;
}

.dropdown_p2 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 9vh;
    width: 14vw;
    top: 14vh;
    left: 0.6vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.dropdown_p3 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 9vh;
    width: 14vw;
    top: 36vh;
    left: 0.6vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.dropdown_p4 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 13vh;
    width: 14vw;
    top: 47vh;
    left: 0.6vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.dropdown_p5 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 9vh;
    width: 14vw;
    top: 25vh;
    left: 0.6vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.button-container .dropdown1:hover {
    background-color: #e7bd42;
    color: #336cce;
  }
  
#title  {
    text-align: center;
    display: inline-block; // Allow padding and margin
    color: #e7bd42; // Text color
    text-decoration: none; // Remove underline by default
    padding: 10px;
    border-radius: 15px;
    font-size: 50px;
    font-family: 'Coolvetica';
    
  }

#project1-title {
    text-align: center;
    color: #e7bd42;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project1-1 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
    font-family: 'Coolvetica';
}

#project1-2 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
    font-family: 'Coolvetica';
}

#project1-3 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
    font-family: 'Coolvetica';
}

#project1-4 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
    font-family: 'Coolvetica';
}

#project1-5 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
    font-family: 'Coolvetica';
}

#project1-6 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
    font-family: 'Coolvetica';
}

#project2-title {
    padding: 10px;
    color: #e7bd42;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Coolvetica';

}

#project2-1 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project2-2 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project2-3 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project2-4 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project2-5 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project2-6 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project2-7 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-title {
    color: #e7bd42;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project3-1 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-2 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-3 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-4 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-5 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-6 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-7 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-8 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project3-9 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-title {
    color: #e7bd42;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project4-1 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-2 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-2 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-3 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-4 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-5 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-6 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project4-7 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project5-title {
    color: #e7bd42;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project5-1 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project5-2 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project5-3 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#project5-4 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}

#projects5-5 {
    color: #f2e7bf;
    padding: 15px;
    font-size: 20px;
}
  
.arrow3 {
    transform: rotate(270deg);
    transition: 0.2s ease;
}

.arrow4 {
    font-size: 2rem;
    transform: rotate(270deg);
    transition: 0.2s ease;
    font-size: 2rem;
}

.arrow5 {
    font-size: 2rem;
    transform: rotate(270deg);
    transition: 0.2s ease;
    font-size: 2rem;
}

.arrow6 {
    font-size: 2rem;
    transform: rotate(270deg);
    transition: 0.2s ease;
    font-size: 2rem;
}

.arrow7 {
    font-size: 2rem;
    transform: rotate(270deg);
    transition: 0.2s ease;
    font-size: 2rem;
}

.active #arrow4 {
    font-size: 2rem;
}

.active #arrow3 {
    font-size: 2rem;
}

.active #arrow5 {
    font-size: 2rem;
}

.active #arrow6 {
    font-size: 2rem;
}

.active #arrow7 {
    font-size: 2rem;
}

i3 {
    font-size: 2rem;
    position: absolute; // Position it absolutely within its container
    top: 17px; // Adjust based on where you want it
    right: -3px;

  }

i4 {
    font-size: 2rem;
    position: absolute; // Position it absolutely within its container
    top: 18px; // Adjust based on where you want it
    right: -2px;

  }

i5 {
    font-size: 2rem;
    position: absolute; // Position it absolutely within its container
    top: 25px; // Adjust based on where you want it
    right: -2px;

}

i6 {
    font-size: 2rem;
    position: absolute; // Position it absolutely within its container
    top: 40px; // Adjust based on where you want it
    right: -2px;

}

i7 {
    font-size: 2rem;
    position: absolute; // Position it absolutely within its container
    top: 32px; // Adjust based on where you want it
    right: -1px;

}

.bandsoc-frontpage {
    display: flex;
    width: 60vw;
    height: 65vh;
    transform: translate(0vw, 0vh);
}

.bandsoc-admin-1 {
    display: flex;
    width: 60vw;
    height: 65vh;
    transform: translate(0vw, 1vh);
}

.bandsoc-admin-2 {
    display: flex;
    width: 60vw;
    height: 65vh;
    transform: translate(0vw, 0vh);
}

.stripe {
    display: flex;
    display: inline-block;
    height:50vh;
    width:35vw;
    transform: translate(0vw, 0vh);
}

.Portfolio-Home {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.Portfolio-Projects {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.Portfolio-Contact {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.Heatmap {
    display: flex;
    display: inline-block;
    height: 45vh;
    width: 30vw;
}

.Hist-Traf, .Hist-Pol {
    display: flex;
    display: inline-block;
    height: 45vh;
    width: 30vw;
}

.Loadings-Traf, .Loadings-Pol {
    display: flex;
    display: inline-block;
    height: 55vh;
    width: 30vw;
}

.Scree-Plot-Traf, .Scree-Plot-Pol {
    display: flex;
    display: inline-block;
    height: 30vh;
    width: 30vw;
    transform: translate(0vw, -1vh);

}

.hourly_volume, .departures_hourly_volume {
    display: flex;
    display: inline-block;
    height: 38vh;
    width: 30vw;
}

.moving_avg_logscale, .logscale_hourly_volume {
    display: flex;
    display: inline-block;
    height: 38vh;
    width: 30vw;
    transform: translate(0.5vw, 0vh);
}

.log_diff_shift, .rolling_mean_std {
    display: flex;
    display: inline-block;
    height: 38vh;
    width: 30vw;
}

.exp_dec_Weighted_avg {
    display: flex;
    display: inline-block;
    height: 55vh;
    width: 45vw;
}

.resid_seasonality {
    display: flex;
    display: inline-block;
    height: 55vh;
    width: 45vw;
}

.threejs_overview {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.threejs_home {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.threejs_about_me {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.threejs_projects {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

.threejs_contact {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 60vh;
}

@media (max-height: 480px) {
    .desc-container2 {
        display: flex;
        position: absolute; // Position it absolutely within its container
        top: 10vh; // Adjust based on where you want it
        left: 30vw; 
        height: 80vh;
        text-align: center;
        flex-direction: column;
    
         /* Adjust the height as needed */
        width: 65vw; /* You can adjust the width to fit your design */
        margin: 0 auto; /* Center the container */
        padding: 20px;
        border: 1px solid #ccc; /* Optional: Add a border for visibility */
        background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
        overflow-y: auto; /* Enables vertical scrolling */
        overflow-x: hidden;
        text-align: center;
      }
    
    .button-container-p {
       display: flex;
       padding: 2px;
       border: 1px solid #ccc;
       background-color: rgba(51, 108, 206, 0.5);
       position: absolute;
       display: flex;
       justify-content: space-between;
       width: 19vw;
       height:80vh;
       text-align: center;
       padding: 10px;
       //margin: 0 -600px;
       top: 10vh;
       left:10vw; 
    
    }
    
    .dropdown_p1 {
        display: flex;
        position: absolute; // Position it absolutely within its container
        top: 2vh;
        left: 0.6vw; 
        background-color: rgba(51, 108, 206, 0.5); 
        height: 10vh;
        width: 17vw;
        font-size: calc(1vw + 1vh);
        font-family: 'Coolvetica';
        color: #f2e7bf;
        border-radius: 2vh;
        border: calc(0.15vh + 0.15vw) solid #e7bd42;
        text-decoration: underline;
    }
    
    .dropdown_p2 {
        display: flex;
        position: absolute;
        text-align: left;
        background-color: rgba(51, 108, 206, 0.5); 
        height: 10vh;
        width: 17vw;
        top: 14vh;
        left: 0.6vw;
        font-size: calc(1vw + 1vh);
        font-family: 'Coolvetica';
        color: #f2e7bf;
        border-radius: 2vh;
        border: calc(0.15vh + 0.15vw) solid #e7bd42;
        text-decoration: underline;
    
    }
    
    .dropdown_p3 {
        position: absolute;
        text-align: left;
        background-color: rgba(51, 108, 206, 0.5); 
        height: 16vh;
        width: 17vw;
        top: 42vh;
        left: 0.6vw;
        font-size: calc(1vw + 1vh);
        font-family: 'Coolvetica';
        color: #f2e7bf;
        border-radius: 2vh;
        border: calc(0.15vh + 0.15vw) solid #e7bd42;
        text-decoration: underline;
    
    }
    
    .dropdown_p4 {
        position: absolute;
        text-align: left;
        background-color: rgba(51, 108, 206, 0.5); 
        height: 16vh;
        width: 17vw;
        top: 61vh;
        left: 0.6vw;
        font-size: calc(1vw + 1vh);
        font-family: 'Coolvetica';
        color: #f2e7bf;
        border-radius: 2vh;
        border: calc(0.15vh + 0.15vw) solid #e7bd42;
        text-decoration: underline;
    
    }
    
    .dropdown_p5 {
        position: absolute;
        text-align: left;
        background-color: rgba(51, 108, 206, 0.5); 
        height: 14vh;
        width: 17vw;
        top: 26vh;
        left: 0.6vw;
        font-size: calc(1vw + 1vh);
        font-family: 'Coolvetica';
        color: #f2e7bf;
        border-radius: 2vh;
        border: calc(0.15vh + 0.15vw) solid #e7bd42;
        text-decoration: underline;
    
    }
    
    .button-container .dropdown1:hover {
        background-color: #e7bd42;
        color: #336cce;
      }
      
    #title  {
        text-align: center;
        display: inline-block; // Allow padding and margin
        color: #e7bd42; // Text color
        text-decoration: none; // Remove underline by default
        padding: 1vh;
        border-radius: 15px;
        font-size: calc(2vh + 2vw);
        font-family: 'Coolvetica';
        
      }
    
    #project1-title {
        text-align: center;
        color: #e7bd42;
        padding: 1vh;
        font-size: calc(2vh + 2vw);
        text-decoration: underline;
        font-family: 'Coolvetica';
    }
    
    #project1-1 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
        font-family: 'Coolvetica';
    }
    
    #project1-2 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
        font-family: 'Coolvetica';
    }
    
    #project1-3 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
        font-family: 'Coolvetica';
    }
    
    #project1-4 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
        font-family: 'Coolvetica';
    }
    
    #project1-5 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
        font-family: 'Coolvetica';
    }
    
    #project1-6 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
        font-family: 'Coolvetica';
    }
    
    #project2-title {
        color: #e7bd42;
        padding: 1vh;
        font-size: calc(2vh + 2vw);
        text-decoration: underline;
        font-family: 'Coolvetica';
    
    }
    
    #project2-1 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project2-2 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project2-3 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project2-4 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project2-5 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project2-6 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project2-7 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-title {
        color: #e7bd42;
        padding: 1vh;
        font-size: calc(2vh + 2vw);
        text-decoration: underline;
        font-family: 'Coolvetica';
    }
    
    #project3-1 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-2 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-3 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-4 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-5 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-6 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-7 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-8 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project3-9 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-title {
        color: #e7bd42;
        padding: 1vh;
        font-size: calc(2vh + 2vw);
        text-decoration: underline;
        font-family: 'Coolvetica';
    }
    
    #project4-1 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-2 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-2 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-3 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-4 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-5 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-6 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project4-7 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project5-title {
        color: #e7bd42;
        padding: 1vh;
        font-size: calc(2vh + 2vw);
        text-decoration: underline;
        font-family: 'Coolvetica';
    }
    
    #project5-1 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project5-2 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project5-3 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #project5-4 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
    
    #projects5-5 {
        color: #f2e7bf;
        padding: 1vh;
        font-size: calc(1vh + 1vw);
    }
      
    .arrow3 {
        transform: rotate(270deg);
        transition: 0.2s ease;
    }
    
    .arrow4 {
        
        transform: rotate(270deg);
        transition: 0.2s ease;
        
    }
    
    .arrow5 {
        
        transform: rotate(270deg);
        transition: 0.2s ease;
        
    }
    
    .arrow6 {
        
        transform: rotate(270deg);
        transition: 0.2s ease;
        
    }
    
    .arrow7 {
        
        transform: rotate(270deg);
        transition: 0.2s ease;
        
    }
    
    
    
    i3 {
        font-size: calc(2vh + 2vw);
        position: absolute; // Position it absolutely within its container
        top: 0.3vh; // Adjust based on where you want it
        right: -0.1vw;
    
      }
    
    i4 {
        font-size: calc(2vh + 2vw);
        position: absolute; // Position it absolutely within its container
        top: 0.1vh; // Adjust based on where you want it
        right: -0.1vw;
    
      }
    
    i5 {
        font-size: calc(2vh + 2vw);
        position: absolute; // Position it absolutely within its container
        top: 1vh; // Adjust based on where you want it
        right: -0.1vw;
    
    }
    
    i6 {
        font-size: calc(2vh + 2vw);
        position: absolute; // Position it absolutely within its container
        top: 4vh; // Adjust based on where you want it
        right: -0.1vw;
    
    }
    
    i7 {
        font-size: calc(2vh + 2vw);
        position: absolute; // Position it absolutely within its container
        top: 1vh; // Adjust based on where you want it
        right: -1px;
    
    }
    
    .bandsoc-frontpage {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .bandsoc-admin-1 {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 2vh);
    }
    
    .bandsoc-admin-2 {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .stripe {
        display: flex;
        height:50vh;
        width:25vw;
        transform: translate(17vw, 0vh);
    }
    
    .Portfolio-Home {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .Portfolio-Projects {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .Portfolio-Contact {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .Heatmap {
        display: flex;
        width: 30vw;
        height: 70vh;
        transform: translate(16vw, 0vh);
    }
    
    .Hist-Traf, .Hist-Pol {
        display: flex;
        display: inline-block;
        width: 25vw;
        height: 60vh;
    }
    
    .Loadings-Traf, .Loadings-Pol {
        display: flex;
        display: inline-block;
        height: 55vh;
        width: 28vw;
    }
    
    .Scree-Plot-Traf, .Scree-Plot-Pol {
        display: flex;
        display: inline-block;
        height: 50vh;
        width: 28vw;
    
    }
    
    .hourly_volume, .departures_hourly_volume {
        display: flex;
        display: inline-block;
        height: 50vh;
        width: 28vw;
    }
    
    .moving_avg_logscale, .logscale_hourly_volume {
        display: flex;
        display: inline-block;
        height: 50vh;
        width: 28vw;
    }
    
    .log_diff_shift, .rolling_mean_std {
        display: flex;
        display: inline-block;
        height: 50vh;
        width: 28vw;
    }
    
    .exp_dec_Weighted_avg {
        display: flex;
        display: inline-block;
        height: 60vh;
        width: 35vw;
    }
    
    .resid_seasonality {
        display: flex;
        display: inline-block;
        height: 60vh;
        width: 35vw;
    }
    
    .threejs_overview {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .threejs_home {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .threejs_about_me {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .threejs_projects {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
    
    .threejs_contact {
        display: flex;
        width: 45vw;
        height: 85vh;
        transform: translate(7vw, 0vh);
    }
}

@media (max-width: 480px) {

.desc-container2 {
    display: flex;
    position: absolute; // Position it absolutely within its container
    top: 27vh; // Adjust based on where you want it
    left: 27vw; 
    height: 65vh;
    text-align: center;
    flex-direction: column;

     /* Adjust the height as needed */
    width: 66vw; /* You can adjust the width to fit your design */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden;
    text-align: center;
  }

.button-container-p {
    display: flex;
    display: inline-block;
   padding: 20px;
   border: 1px solid #ccc;
   background-color: rgba(51, 108, 206, 0.5);
   position: absolute;
   justify-content: space-between;
   width: 61vw;
   height:23vh;
   padding: 10px;
   //margin: 0 -600px;
   top: 2vh;
   left:29.5vw; 

}

.dropdown_p1 {
    display: flex;
    position: absolute; // Position it absolutely within its container
    top: 1vh;
    left: 3vw; 
    background-color: rgba(51, 108, 206, 0.5); 
    height: 10vh;
    width: 15vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;
}

.dropdown_p2 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 10vh;
    width: 15vw;
    top: 1vh;
    left: 20vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.dropdown_p3 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 10vh;
    width: 20vw;
    top: 12vh;
    left: 3vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.dropdown_p4 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 10vh;
    width: 29vw;
    top: 12vh;
    left: 25vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.dropdown_p5 {
    display: flex;
    position: absolute;
    background-color: rgba(51, 108, 206, 0.5); 
    height: 10vh;
    width: 20vw;
    top: 1vh;
    left: 37vw;
    font-size: calc(1vw + 1vh);
    font-family: 'Coolvetica';
    color: #f2e7bf;
    border-radius: 10px;
    border: 2px solid #e7bd42;
    text-decoration: underline;

}

.button-container .dropdown1:hover {
    background-color: #e7bd42;
    color: #336cce;
  }
  
#title  {
    display: flex;
    text-align: center;
    display: inline-block; // Allow padding and margin
    color: #e7bd42; // Text color
    text-decoration: none; // Remove underline by default
    border-radius: 15px;
    padding: 1vh;
    font-size: calc(2vh + 2vw);
    font-family: 'Coolvetica';
    
  }

#project1-title {
    text-align: center;
    color: #e7bd42;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project1-1 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Coolvetica';
}

#project1-2 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Coolvetica';
}

#project1-3 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Coolvetica';
}

#project1-4 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Coolvetica';
}

#project1-5 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Coolvetica';
}

#project1-6 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Coolvetica';
}

#project2-title {
    color: #e7bd42;
    padding: 1vh;
    font-size: calc(2vh + 2vw);
    text-decoration: underline;
    font-family: 'Coolvetica';

}

#project2-1 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project2-2 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project2-3 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project2-4 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project2-5 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project2-6 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project2-7 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-title {
    color: #e7bd42;
    padding: 1vh;
    font-size: calc(2vh + 2vw);
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project3-1 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-2 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-3 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-4 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-5 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-6 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-7 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-8 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project3-9 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-title {
    color: #e7bd42;
    padding: 1vh;
    font-size: calc(2vh + 2vw);
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project4-1 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-2 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-2 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-3 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-4 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-5 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-6 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project4-7 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project5-title {
    color: #e7bd42;
    padding: 1vh;
    font-size: calc(2vh + 2vw);
    text-decoration: underline;
    font-family: 'Coolvetica';
}

#project5-1 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project5-2 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project5-3 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#project5-4 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}

#projects5-5 {
    color: #f2e7bf;
    padding: 1vh;
    font-size: calc(1vh + 1vw);
}
  
.arrow3 {
    transform: rotate(270deg);
    transition: 0.2s ease;
}

.arrow4 {
    transform: rotate(270deg);
    transition: 0.2s ease;
}

.arrow5 {
    transform: rotate(270deg);
    transition: 0.2s ease;
}

.arrow6 {
    transform: rotate(270deg);
    transition: 0.2s ease;
}

.arrow7 {
    transform: rotate(270deg);
    transition: 0.2s ease;
}

i3 {
    font-size: calc(2.3vh + 2.3vw);
    position: absolute; // Position it absolutely within its container
    top: 6vh; // Adjust based on where you want it
    right: 3vw;

  }

i4 {
    font-size: calc(2.3vh + 2.3vw);
    position: absolute; // Position it absolutely within its container
    top: 6vh; // Adjust based on where you want it
    right: 3vw;

  }

i5 {
    font-size: calc(2.3vh + 2.3vw);
    position: absolute; // Position it absolutely within its container
    top: 6vh; // Adjust based on where you want it
    right: 5vw;

}

i6 {
    font-size: calc(2.3vh + 2.3vw);
    position: absolute; // Position it absolutely within its container
    top: 6vh; // Adjust based on where you want it
    right: 9.5vw;

}

i7 {
    font-size: calc(2.3vh + 2.3vw);
    position: absolute; // Position it absolutely within its container
    top: 6vh; // Adjust based on where you want it
    right: 5vw;

}

.bandsoc-frontpage {
    display: flex;
    width: 60vw;
    height: 25vh;
    transform: translate(0vw, 0vh);
}

.bandsoc-admin-1 {
    display: flex;
    width: 60vw;
    height: 25vh;
    transform: translate(0vw, 1vh);
}

.bandsoc-admin-2 {
    display: flex;
    width: 60vw;
    height: 25vh;
    transform: translate(0vw, 0vh);
}

.stripe {
    display: flex;
    display: inline-block;
    height:25vh;
    width:40vw;
    transform: translate(0vw, 0vh);
}

.Portfolio-Home {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.Portfolio-Projects {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.Portfolio-Contact {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.Heatmap {
    display: flex;
    display: inline-block;
    height: 20vh;
    width: 40vw;
}

.Hist-Traf, .Hist-Pol {
    display: flex;
    display: inline-block;
    height: 18vh;
    width: 25vw;
}

.Loadings-Traf, .Loadings-Pol {
    display: flex;
    display: inline-block;
    height: 18vh;
    width: 25vw;
}

.Scree-Plot-Traf, .Scree-Plot-Pol {
    display: flex;
    display: inline-block;
    height: 18vh;
    width: 25vw;
    transform: translate(0vw, -1vh);

}

.hourly_volume, .departures_hourly_volume {
    display: flex;
    display: inline-block;
    height: 16vh;
    width: 26vw;
}

.moving_avg_logscale, .logscale_hourly_volume {
    display: flex;
    display: inline-block;
    height: 16vh;
    width: 26vw;
}

.log_diff_shift, .rolling_mean_std {
    display: flex;
    display: inline-block;
    height: 16vh;
    width: 26vw;
}

.exp_dec_Weighted_avg {
    display: flex;
    display: inline-block;
    height: 20vh;
    width: 49vw;
}

.resid_seasonality {
    display: flex;
    display: inline-block;
    height: 20vh;
    width: 49vw;
}

.threejs_overview {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.threejs_home {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.threejs_about_me {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.threejs_projects {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

.threejs_contact {
    display: flex;
    display: inline-block;
    width: 55vw;
    height: 20vh;
}

}