.contact {
    position: absolute;
    display: flex; // Position it absolutely within its container
    top: 5vh; // Adjust based on where you want it
    left: 35vw; 
    height: 82vh;
    flex-direction: column;

     /* Adjust the height as needed */
    width: 30vw; /* You can adjust the width to fit your design */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
    background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden;
    text-align: center;
  }
  
  .email {
    font-size: calc(1vw + 1vh);
    height: 7vh;
    width: 23vw;
    background-color: rgba(51, 108, 206, 0.5);
    font-family: 'Coolvetica';
    color: #e7bd42;
    border-radius: 2px;
    text-align: center;
    border: 2px solid #e7bd42;
  }

  .email::placeholder {
    font-size: calc(1vw + 1vh);
    color: #e7bd42;
    font-family: 'Coolvetica';
    text-align: center;

  }

  .name {
    font-size: calc(1vw + 1vh);
    height: 7vh;
    width: 23vw;
    background-color: rgba(51, 108, 206, 0.5);
    font-family: 'Coolvetica';
    color: #e7bd42;
    border-radius: 2px;
    border: 2px solid #e7bd42;
    text-align: center;
  }

  .name::placeholder {
    font-size: calc(1vw + 1vh);
    color: #e7bd42;
    font-family: 'Coolvetica';
    text-align: center;

  }

  .input {
    font-size: calc(1vw + 1vh);
    height: 30vh;
    width: 23vw;
    background-color: rgba(51, 108, 206, 0.5) !important;
    font-family: 'Coolvetica';
    color: #e7bd42;
    border-radius: 2px;
    border: 2px solid #e7bd42 !important;
    text-align: center;
  }

.input::placeholder {
    font-size: calc(1vw + 1vh) !important;
    color: #e7bd42 !important;
    font-family: 'Coolvetica' !important;
    text-align: center;

  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      /* Remove the browser's default background for autofilled inputs */
      background-color: white !important;  /* Or the color you want */
      -webkit-box-shadow: 0 0 0 30px rgba(51, 108, 206, 0.5) inset !important;
      color: #e7bd42 !important; /* Adjust text color if needed */
      transition: background-color 5000s ease-in-out 0s !important; /* Prevent background-color flicker */
      font-family: 'Coolvetica' !important;
  }
  
  /* Optional: Make sure text inside autofilled inputs is also visible */
  input:-webkit-autofill::first-line {
      color: #e7bd42 !important;
      font-family: 'Coolvetica' !important;
  }

  .submit {
    font-size: calc(1.5vw + 1.5vh);
    height: 7vh;
    width: 15vw;
    background-color: rgba(51, 108, 206, 0.5);
    font-family: 'Coolvetica';
    color: #e7bd42;
    border-radius: 2px;
    border: 2px solid #e7bd42;
  }

  .submit:hover {
    background-color: #e7bd42;
    color: #336cce;
  }
  
  .contact-title {
    text-align: center;
    display: inline-block; // Allow padding and margin
    color: #e7bd42; // Text color
    text-decoration: none; // Remove underline by default
    padding: 10px;
    border-radius: 15px;
    font-size: calc(2vh + 2vw);
    font-family: 'Coolvetica';
  }

  .result {
    color: #e7bd42;
    font-family: 'Coolvetica';
  }

  @media (max-width: 400px) {
    .contact {
      position: absolute;
      display: flex; // Position it absolutely within its container
      top: 5vh; // Adjust based on where you want it
      left: 30vw; 
      height: 70vh;
      flex-direction: column;
  
       /* Adjust the height as needed */
      width: 55vw; /* You can adjust the width to fit your design */
      margin: 0 auto; /* Center the container */
      padding: 20px;
      border: 1px solid #ccc; /* Optional: Add a border for visibility */
      background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
      overflow-y: auto; /* Enables vertical scrolling */
      overflow-x: hidden;
      text-align: center;
    }
    
    .email {
      font-size: calc(1.3vw + 1.3vh);
      height: 5vh;
      width: 40vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 2px;
      text-align: center;
      border: 2px solid #e7bd42;
    }
  
    .email::placeholder {
      font-size: calc(1.3vw + 1.3vh);
      color: #e7bd42;
      font-family: 'Coolvetica';
      text-align: center;
  
    }
  
    .name {
      font-size: calc(1.3vw + 1.3vh);
      height: 5vh;
      width: 40vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 2px;
      border: 2px solid #e7bd42;
      text-align: center;
    }
  
    .name::placeholder {
      font-size: calc(1.3vw + 1.3vh);
      color: #e7bd42;
      font-family: 'Coolvetica';
      text-align: center;
  
    }
  
    .input {
      font-size: calc(1.3vw + 1.3vh);
      height: 34vh;
      width: 40vw;
      background-color: rgba(51, 108, 206, 0.5) !important;
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 2px;
      border: 2px solid #e7bd42 !important;
      text-align: center;
    }
  
  .input::placeholder {
      font-size: calc(1.3vw + 1.3vh) !important;
      color: #e7bd42 !important;
      font-family: 'Coolvetica' !important;
      text-align: center;
  
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        /* Remove the browser's default background for autofilled inputs */
        background-color: white !important;  /* Or the color you want */
        -webkit-box-shadow: 0 0 0 30px rgba(51, 108, 206, 0.5) inset !important;
        color: #e7bd42 !important; /* Adjust text color if needed */
        transition: background-color 5000s ease-in-out 0s !important; /* Prevent background-color flicker */
        font-family: 'Coolvetica' !important;
    }
    
    /* Optional: Make sure text inside autofilled inputs is also visible */
    input:-webkit-autofill::first-line {
        color: #e7bd42 !important;
        font-family: 'Coolvetica' !important;
    }
  
    .submit {
      font-size: calc(2vw + 2vh);
      height: 6vh;
      width: 35vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 0.8vh;
      border: 2px solid #e7bd42;
    }
  
    .submit:hover {
      background-color: #e7bd42;
      color: #336cce;
    }
    
    .contact-title {
      text-align: center;
      display: inline-block; // Allow padding and margin
      color: #e7bd42; // Text color
      text-decoration: none; // Remove underline by default
      padding: 10px;
      border-radius: 15px;
      font-size: calc(2vh + 2vw);
      font-family: 'Coolvetica';
    }
  
    .result {
      color: #e7bd42;
      font-family: 'Coolvetica';
      font-size: calc(1.5vh + 2vw);
      transform:  translate(0vw, 2.5vh)
    }

  }

  @media (max-height: 290px) {
    .contact {
      position: absolute;
      display: flex; // Position it absolutely within its container
      top: 5vh; // Adjust based on where you want it
      left: 35vw; 
      height: 82vh;
      flex-direction: column;
  
       /* Adjust the height as needed */
      width: 30vw; /* You can adjust the width to fit your design */
      margin: 0 auto; /* Center the container */
      padding: 8px;
      border: 1px solid #ccc; /* Optional: Add a border for visibility */
      background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
      overflow-y: auto; /* Enables vertical scrolling */
      overflow-x: hidden;
      text-align: center;
    }
    
    .email {
      font-size: calc(1.3vw + 1.3vh);
      height: 10vh;
      width: 23vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      text-align: center;
      border: 0.8vh solid #e7bd42;
    }
  
    .email::placeholder {
      font-size: calc(1.3vw + 1.3vh);
      color: #e7bd42;
      font-family: 'Coolvetica';
      text-align: center;
  
    }
  
    .name {
      font-size: calc(1.3vw + 1.3vh);
      height: 10vh;
      width: 23vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      border: 0.8vh solid #e7bd42;
      text-align: center;
    }
  
    .name::placeholder {
      font-size: calc(1.3vw + 1.3vh);
      color: #e7bd42;
      font-family: 'Coolvetica';
      text-align: center;
  
    }
  
    .input {
      font-size: calc(1vw + 1vh);
      height: 20vh;
      width: 23vw;
      background-color: rgba(51, 108, 206, 0.5) !important;
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      border: 0.8vh solid #e7bd42 !important;
      text-align: center;
    }
  
  .input::placeholder {
      font-size: calc(1vw + 1vh) !important;
      color: #e7bd42 !important;
      font-family: 'Coolvetica' !important;
      text-align: center;
  
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        /* Remove the browser's default background for autofilled inputs */
        background-color: white !important;  /* Or the color you want */
        -webkit-box-shadow: 0 0 0 30px rgba(51, 108, 206, 0.5) inset !important;
        color: #e7bd42 !important; /* Adjust text color if needed */
        transition: background-color 5000s ease-in-out 0s !important; /* Prevent background-color flicker */
        font-family: 'Coolvetica' !important;
    }
    
    /* Optional: Make sure text inside autofilled inputs is also visible */
    input:-webkit-autofill::first-line {
        color: #e7bd42 !important;
        font-family: 'Coolvetica' !important;
    }
  
    .submit {
      font-size: calc(1.2vw + 1.2vh);
      height: 9vh;
      width: 8vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      border: 0.8vh solid #e7bd42;
      transform: translate(0vw, -1vh);
    }
  
    .submit:hover {
      background-color: #e7bd42;
      color: #336cce;
    }
    
    .contact-title {
      text-align: center;
      display: inline-block; // Allow padding and margin
      color: #e7bd42; // Text color
      text-decoration: none; // Remove underline by default
      padding: 1px;
      border-radius: 15px;
      font-size: calc(2vh + 2vw);
      font-family: 'Coolvetica';
    }
  
    .result {
      color: #e7bd42;
      font-size: 5vh;
      font-family: 'Coolvetica';
    }

  }

  @media (min-height: 291px) and (max-height: 500px) {
    .contact {
      position: absolute;
      display: flex; // Position it absolutely within its container
      top: 5vh; // Adjust based on where you want it
      left: 35vw; 
      height: 85vh;
      flex-direction: column;
  
       /* Adjust the height as needed */
      width: 30vw; /* You can adjust the width to fit your design */
      margin: 0 auto; /* Center the container */
      padding: 8px;
      border: 1px solid #ccc; /* Optional: Add a border for visibility */
      background-color: rgba(51, 108, 206, 0.5); /* Optional: Add a background color */
      overflow-y: auto; /* Enables vertical scrolling */
      overflow-x: hidden;
      text-align: center;
    }
    
    .email {
      font-size: calc(1.3vw + 1.3vh);
      height: 10vh;
      width: 23vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      text-align: center;
      border: 0.8vh solid #e7bd42;
    }
  
    .email::placeholder {
      font-size: calc(1.3vw + 1.3vh);
      color: #e7bd42;
      font-family: 'Coolvetica';
      text-align: center;
  
    }
  
    .name {
      font-size: calc(1.3vw + 1.3vh);
      height: 10vh;
      width: 23vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      border: 0.8vh solid #e7bd42;
      text-align: center;
    }
  
    .name::placeholder {
      font-size: calc(1.3vw + 1.3vh);
      color: #e7bd42;
      font-family: 'Coolvetica';
      text-align: center;
  
    }
  
    .input {
      font-size: calc(1vw + 1vh);
      height: 20vh;
      width: 23vw;
      background-color: rgba(51, 108, 206, 0.5) !important;
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      border: 0.8vh solid #e7bd42 !important;
      text-align: center;
    }
  
  .input::placeholder {
      font-size: calc(1vw + 1vh) !important;
      color: #e7bd42 !important;
      font-family: 'Coolvetica' !important;
      text-align: center;
  
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        /* Remove the browser's default background for autofilled inputs */
        background-color: white !important;  /* Or the color you want */
        -webkit-box-shadow: 0 0 0 30px rgba(51, 108, 206, 0.5) inset !important;
        color: #e7bd42 !important; /* Adjust text color if needed */
        transition: background-color 5000s ease-in-out 0s !important; /* Prevent background-color flicker */
        font-family: 'Coolvetica' !important;
    }
    
    /* Optional: Make sure text inside autofilled inputs is also visible */
    input:-webkit-autofill::first-line {
        color: #e7bd42 !important;
        font-family: 'Coolvetica' !important;
    }
  
    .submit {
      font-size: calc(1.2vw + 1.2vh);
      height: 9vh;
      width: 8vw;
      background-color: rgba(51, 108, 206, 0.5);
      font-family: 'Coolvetica';
      color: #e7bd42;
      border-radius: 1vh;
      border: 0.8vh solid #e7bd42;
      transform: translate(0vw, -1vh);
    }
  
    .submit:hover {
      background-color: #e7bd42;
      color: #336cce;
    }
    
    .contact-title {
      text-align: center;
      display: inline-block; // Allow padding and margin
      color: #e7bd42; // Text color
      text-decoration: none; // Remove underline by default
      padding: 1px;
      border-radius: 15px;
      font-size: calc(2vh + 2vw);
      font-family: 'Coolvetica';
    }
  
    .result {
      color: #e7bd42;
      font-size: 5vh;
      font-family: 'Coolvetica';
    }

  }