@media (min-width: 930px) {
.nav-bar {
    background:#336cce;
    width: 9vw;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
    opacity: 0.7;
    
  
    .logo {
      display: block;
      display: flex;
      padding: 8px 0;
  
      img {
        display: flex;
        margin: 5vh auto;
        width: 5vw;
        height: 6vh;
  
       &.sub-logo {
        width: 5vw;
        transform: translate(2vw, -2vh)
          
        }

        &.sub-logo2 {
          width: 5vw;
          transform: translate(-3vw, 8vh);

        }

        &.sub-logo3 {
          
          transform: translate(-8vw, 18vh);
        }
      }
    }
  
    nav {
      display: block;
      text-align: center;
      position:absolute;
      height: 3vh;
      top: 52%;
      margin-top: -120px;
      width: 100%;
  
      a {
        display: flex;
        font-size: calc(2vw + 2vh);
        color: #f2e7bf;
        display: block;
        line-height: 1vh;
        height: 10vh;
        position: relative;
        text-decoration: none;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: #e7bd42;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: calc(1vw + 1vh);
          letter-spacing: 1px;
          position: 1px;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }

        
      }

      a.overview-link {
        &:after {
            content: 'OVERVIEW';
        }
      }

      a.home-link {
        &:after {
            content: 'HOME';
        }
      }

      a.about-link {
        &:after {
            content: 'ABOUT ME';
        }
      }

      a.projects-link {
        &:after {
          content: 'PROJECTS';
        }
      }

      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }
      a.active {
        svg {
            color: #e7bd42;
        }
      }

      
    }

    ul {
      position: absolute;
      bottom: 2vh;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;

      li {
        a {
          display: flex;
          padding: 0vh 0;
          display: block;
          font-size: 4vh;
          line-height: 6vh;

          &:hover svg {
            color: #e7bd42;
          }

        
        }
      }
    }
}

}
  
@media (max-width: 430px) {
  .nav-bar {
    background:#336cce;
    width: 15vw;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
    opacity: 0.7;
    
  
    .logo {
      display: block;
      display: flex;
      padding: 8px 0;
  
      img {
        display: flex;
        margin: 5vh auto;
        width: 5vw;
        height: 6vh;
  
       &.sub-logo {
        width: 5vw;
        transform: translate(2vw, -2vh)
          
        }

        &.sub-logo2 {
          width: 5vw;
          transform: translate(-3vw, 8vh);

        }

        &.sub-logo3 {
          
          transform: translate(-8vw, 18vh);
        }
      }
    }
  
    nav {
      display: block;
      text-align: center;
      position:absolute;
      height: 3vh;
      top: 52%;
      margin-top: -120px;
      width: 100%;
  
      a {
        display: flex;
        font-size: calc(2vw + 2vh);
        color: #f2e7bf;
        display: block;
        line-height: 1vh;
        height: 10vh;
        position: relative;
        text-decoration: none;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: #e7bd42;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: calc(1vw + 1vh);
          letter-spacing: 1px;
          position: 1px;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }

        
      }

      a.overview-link {
        &:after {
            content: 'OVERVIEW';
        }
      }

      a.home-link {
        &:after {
            content: 'HOME';
        }
      }

      a.about-link {
        &:after {
            content: 'ABOUT ME';
        }
      }

      a.projects-link {
        &:after {
          content: 'PROJECTS';
        }
      }

      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }
      a.active {
        svg {
            color: #e7bd42;
        }
      }

      
    }

    ul {
      position: absolute;
      bottom: 2vh;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;

      li {
        a {
          display: flex;
          padding: 0vh 0;
          display: block;
          font-size: 4vh;
          line-height: 6vh;

          &:hover svg {
            color: #e7bd42;
          }

        
        }
      }
    }
}
}

@media (max-width: 930px) {
  .nav-bar {
    background:#336cce;
    width: 9vw;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
    opacity: 0.7;
    
  
    .logo {
      display: block;
      display: flex;
      padding: 8px 0;
  
      img {
        display: flex;
        margin: 5vh auto;
        width: 5vw;
        height: 6vh;
  
       &.sub-logo {
        width: 5vw;
        transform: translate(2vw, -2vh)
          
        }

        &.sub-logo2 {
          width: 5vw;
          transform: translate(-3vw, 8vh);

        }

        &.sub-logo3 {
          
          transform: translate(-8vw, 18vh);
        }
      }
    }
  
    nav {
      display: block;
      text-align: center;
      position:absolute;
      height: 3vh;
      top: 52%;
      margin-top: -120px;
      width: 100%;
  
      a {
        display: flex;
        font-size: calc(2vw + 2vh);
        color: #f2e7bf;
        display: block;
        line-height: 1vh;
        height: 10vh;
        position: relative;
        text-decoration: none;
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: #e7bd42;
  
          svg {
            opacity: 0;
          }
  
          &:after {
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          font-size: calc(1vw + 1vh);
          letter-spacing: 1px;
          position: 1px;
          bottom: 0;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }

        
      }

      a.overview-link {
        &:after {
            content: 'OVERVIEW';
        }
      }

      a.home-link {
        &:after {
            content: 'HOME';
        }
      }

      a.about-link {
        &:after {
            content: 'ABOUT ME';
        }
      }

      a.projects-link {
        &:after {
          content: 'PROJECTS';
        }
      }

      a.contact-link {
        &:after {
          content: 'CONTACT';
        }
      }
      a.active {
        svg {
            color: #e7bd42;
        }
      }

      
    }

    ul {
      position: absolute;
      bottom: 2vh;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: center;
      margin: 0;

      li {
        a {
          display: flex;
          padding: 0vh 0;
          display: block;
          font-size: 4vh;
          line-height: 6vh;

          &:hover svg {
            color: #e7bd42;
          }

        
        }
      }
    }
}
}